/*
****** 
LAPTOP DEVICES
****** 
*/
@media (max-width: 1142px) {
  .card__title {
    font-size: 30px;
  }
}

@media (max-width: 1026px) {
  .container {
    height: auto;
  }
  .card {
    flex-direction: column;
    margin: 40px auto;

    max-width: 540px;
    height: auto;
  }

  .card-container-text,
  .card-container-image {
    flex: 0;
    width: 100%;
  }

  .card-container-text {
    padding: 40px auto;
    text-align: center;
  }

  .card-container-image {
    order: -1;
  }

  .card__stats-container {
    flex-direction: column;
  }

  .card__image {
    max-width: 540px;
  }

  .card__title {
    font-size: var(--28px);
    padding: 0 0.5px;
    margin-bottom: var(--16px);
    letter-spacing: 0.5px;
  }

  .card__description {
    margin-bottom: 40px;
    max-width: 100%;
  }

  .card__stats-container {
    gap: 24px;
  }
}

/*
****** 
MOBILE DEVICES
****** 
*/

@media (max-width: 540px) {
  .card {
    max-width: 324px;
    height: 780px;
  }

  .card__image {
    max-width: 324px;
  }

  .card-container-text {
    padding: 40px 31px 31px;
  }
}

/*
****** 
IPAD PRO AND SIMILAR DEVICES
****** 
*/
@media (min-width: 56.25em) and (min-height: 84.38em) {
  .card {
    max-width: 720px;
  }

  .card__image {
    width: 100%;
    max-width: 720px;
  }

  .card__description {
    max-width: 100%;
  }
}
