/*
****** 
LAPTOP DEVICES
****** 
*/
@media (max-width: 1142px) {
  .card__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 1026px) {
  .container {
    height: auto;
  }
  .card {
    flex-direction: column;
    margin: 2.5rem auto;

    max-width: 33.75rem;
    height: auto;
  }

  .card-container-text,
  .card-container-image {
    flex: 0;
    width: 100%;
  }

  .card-container-text {
    padding: 2.5rem auto;
    text-align: center;
  }

  .card-container-image {
    order: -1;
  }

  .card__stats-container {
    flex-direction: column;
  }

  .card__image {
    max-width: 33.75rem;
  }

  .card__title {
    font-size: var(--28px);
    padding: 0 0.5px;
    margin-bottom: var(--16px);
    letter-spacing: 0.5px;
  }

  .card__description {
    margin-bottom: 2.5rem;
    max-width: 100%;
  }

  .card__stats-container {
    gap: var(--24px);
  }
}

/*
****** 
MOBILE DEVICES
****** 
*/

@media (max-width: 540px) {
  .card {
    max-width: 20.25rem;
    height: 48.75rem;
  }

  .card__image {
    max-width: 20.25rem;
  }

  .card-container-text {
    padding: 2.5rem 1.938rem 1.938rem;
  }
}

/*
****** 
IPAD PRO AND SIMILAR DEVICES
****** 
*/
@media (min-width: 56.25em) and (min-height: 84.38em) {
  .card {
    max-width: 720px;
  }

  .card__image {
    width: 100%;
    max-width: 720px;
  }

  .card__description {
    max-width: 100%;
  }
}
